<h1>New Observation</h1>

<div class="content">
  <%= render partial: 'flash_notice' %>

  <div id="obsform" data-obsid=0></div>
  <%= link_to 'List Observations', observations_path %>
</div>
<%= javascript_pack_tag "hello_elm" %>
