<h1>New Observation</h1>

<%= semantic_form_for @observation do |form| %>
  <%= render :partial => 'form', :locals => {:form => form } %>
  <%= form.buttons %>
<% end %>
			
<%= link_to 'List Observations', observations_path %>
