<h1>New Observation</h1>

<%= form_for @observation, input_html: {class: "form", role: "form"}  do |form| %>
  <%= render :partial => 'form', :locals => {:form => form, :only_current => true } %>
  <%= form.submit "Create" %>
<% end %>
			
<%= link_to 'List Observations', observations_path %>
