<h1>New Observation</h1>

<%= simple_form_for @observation do |form| %>
  <%= render :partial => 'form', :locals => {:form => form, :only_current => true } %>
  <%= form.button :submit %>
<% end %>
			
<%= link_to 'List Observations', observations_path %>
