# .gitignore
.DS_Store
log/*.log
tmp/
nbproject/
config/database.yml
db/*.sqlite3
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb
.bundle
nbproject/*
public/coffeescripts/
production
public/uploads
.capistrano
.idea

/public/packs
/public/packs-test
/elm-stuff
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.env

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
