<p>
  <b>Name:</b>
  <%=h @equipment.name %>
  <br/>
  <%= 'Uses Material' if @equipment.use_material? %>
</p>
<% @equipment.observations.each do |observation| %>
  <p>
    <a href='<%= observation_path(observation) %>'>
    <%= observation.obs_date %></a>
    <%= observation.observation_types[0].name %>
    <%= observation.comment %>
  </p>
<% end %>

<%= link_to 'Edit', edit_equipment_path(@equipment) if current_user %> |
<%= link_to 'Back', equipment_path %>