%h1 Listing equipment

%table
  %tr
    %th(align="left") Name
    %th Use Material

  - @equipment.each do |equipment|
    %tr
      %td
        = equipment.name
      %td(align="center")
        = 'true' if equipment.use_material?
      %td
        = link_to 'Show', equipment_path(equipment)
