<%= link_to 'Edit', edit_area_path(@area) if current_user %>
<%= link_to 'Back', areas_path %>
<p>
  <b>Name:</b>
  <%= @area.name %>
</p>
<table>
  <tr>
    <th>Observation Date</th>
    <th>Observation Types</th>
    <th>Observation Comment</th>
    <th>Equipment</th>
    <th>Material</th>
  </tr>
  <%= render @area.observations %>
</table>


<%= link_to 'Edit', edit_area_path(@area) if current_user %> 
<%= link_to 'Back', areas_path %>