<h1>Login</h1>

<% form_for @person_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :openid_identifier %><br />
    <%= f.text_field :openid_identifier %>
  </p>
  <p>
    <%= f.submit "Login" ,:disable_with => 'Logging in ...'%>
  </p>
<% end %>


