<h1>New Unit</h1>

<div class="row col-sm-5">
  <%= form_for(:unit, :url => units_path, html: {role: "form", class: "form" }) do |f| %>

  <%= render partial: "form", locals: {f: f} %>

  <div class="form-group">
    <%= submit_tag "Create" , class: "btn btn-primary"%>
  </div>
<% end %>
</div>
