h1 {
	color: #17a400;
	font: small-caps bold large "Lucida Grande", Lucida, Verdana, sans-serif;
}

legend {
	font-weight: bold;
}

a img { border: none;
		text-decoration: none;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

.hovered {
  background-color: grey;
}

div.droppable {
  height: 4px;
}

error { 
	background-color:yellow
}

label {
	display: block;
	font-weight: bold;
}

tr:hover {
  background-color: #FCF;
}
dt {
    font-weight: bold
}

#main_page {
    padding: 2em;
}

#material_transactions_new  {
	display:  none;
}

.activity {
    border: inset thin;
    padding: 1em;
}

.setup {
    border: inset thin;
    padding: 1em;
}

.material_transaction {
    border: inset thin;
    padding: 1em;
}

.material_transactions {
	display:  inline;
}

.header_bar {
	background-color: aqua;
}

.indent {
	text-indent: 1em;
}

.flickr_pagination {
  text-align: center;
  padding: .3em; 
	margin-bottom: 1em;}
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}
