<h1>Editing material</h1>
<% set_material_type_ids %>
<% set_hazard_ids %>

<%= render 'form', :material => @material, :hazards => @hazards %>

<%= link_to 'Show', material_path(@material) %> |
<%= link_to 'List Materials', materials_path %>